/*********TAG SELECTORS**********/
body {
  color: #384f4e;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #2a3b3b;
  font-family: 'Sacramento', cursive;
  line-height: 1;
  margin-bottom: 0;
  margin: 110px auto 0 auto;
  font-size: 6rem;
}

h2 {
  color: #384f4e;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #384f4e;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #384f4e;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #d1e8e7;
}

p {
  font-weight: normal;
  line-height: 2;
}

hr {
  color: #d1e8e7;
  border-style: dotted none none;
  border-width: 5px;
  width: 3%;
  size: 1px;
}

/*********CLASS SELECTORS**********/
.top-container {
  background-color: #8ec6c5;
  margin-top: 0;
  padding-top: 5%;
  position: relative;
}

.middle-container {
  background-color: #f4f4f4;
  margin-top: 0;
  padding-top: 80px;
}

.profile {
  margin-bottom: 100px;
}

.skills {
  margin-top: 100px;
  margin-bottom: 90px;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.contact-me {
  line-height: 2;
  margin-top: 80px;
  padding-bottom: 80px;
}

.bottom-container {
  background-color: #8ec6c5;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 5%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
}

.HCM-img {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.LMS-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.copyright {
  color: #d1e8e7;
  font-size: 0.75rem;
  padding-top: 20px 0;
}

.opportunities {
  margin-bottom: 50px;
}

/**BUTTON**/
.button {
  border: 0;
  background-color: #8ec6c5;
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2) 30%,
      rgba(0, 0, 0, 0));
  border-radius: 8px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2.5;
  padding-top: 100px;
  padding: 13px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.button:hover {
  background-color: #384f4e;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
